<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.filenber.pics_bag">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".Commnication_Board"></activity>
    <activity android:name=".Video_Display" />
    <activity android:name=".Audio_Information" />
    <activity android:name=".ImageInformation" />
    <activity android:name=".Video_Activity" />
    <activity android:name=".commnication.Video_Activity" />
    <activity android:name=".Commnication.Video_Activity" />
    <activity android:name=".Auth" />
    <activity android:name=".New_Order" />
    <activity android:name=".Order" />
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
